@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Funnel Sans', serif;
  font-optical-sizing: auto;
  overscroll-behavior: contain;
  transition: all;
  transition-duration: 100ms;
}

html {
  transition: background-color 0.3s, color 0.3s;
}

html.dark body {
  background-color: var(--tw-bg-opacity, 1) var(--tw-bg-brand-black-regular);
  color: var(--tw-text-opacity, 1) var(--tw-text-brand-white-regular);
}

::selection {
  background-color: #003F91;
  color: #fff;
}

.navscroll {
	@apply py-4 transition-spacing duration-300;
}

.navscroll.scrolled {
	@apply py-0;
}